*{
    margin: 0;
    padding: 0;
}
body{
    background-color: pink;
    color: antiquewhite;
}
h1{
    text-align: center;
    font-size: 25px;
}
h2{
    text-align: center;
    font-size: 20px;
}
header{
    height: 20wh;
}
main{
    height: 70wh;
    width: 90%;
    margin: auto;
}
footer{
    height: 10wh;
}
p{
    text-align: justify;
    color: aqua;
    font-size: 15px;
}
